body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

video {
  width: 100vw;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.video {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.overlay {
  display: flex;
  flex-flow: row;
  text-align: center;
  margin: 0;
  width: 100vw;
  position: absolute;
  color: white;
  z-index:300000;
}

.overlay p {
  margin: 0;
  padding-bottom: 80px;
  text-align: center;
  width: 100vw;
}

.overlay i {
  transition: .5s;
}

.overlay i:hover {
  color: #F45D01;
}

.home {
  width: 100vw;
  background-image: url('Bonfire.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 800px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  /*align-items: flex-end;*/
  text-align: center;
}

button {
  border: none;
  background-color: transparent;
  font-size: 70px;
  margin: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  outline: none;
}

.home p {
  padding-bottom: 80px;
}

.home i {
  transition: .5s;
}

.home i:hover {
  color: #F45D01;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  width: 100%;
  font-family: 'Cinzel';
}

nav a {
  color: white;
}

nav ul {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
	list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px 60px 20px 60px;
  font-size: 30px;
	top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index:400000;
}

nav a {
  transition: .5s;
}

nav a:hover {
  color: #F45D01;
}

.slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider-wrapper {
  padding: 50px 0px 50px 0px;
  width: 80%;
}

.article-slide {
  font-family: 'PT Serif';
  background-color: #26A65B;
  margin: 0 10px 0 10px;
  border-radius: 15px;
  transition: .5s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  z-index: 100;
}

.text {
  padding: 30px;
}

.article-slide:hover {
  background-color: rgba(38, 166, 91, .8); 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.article-slide img {
  border-radius: 15px 15px 0 0;
  max-width: 100%;
}

.slide-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.slide-author {
  font-size: 18px;
  color: white;
}

.slide-snippet {
  color: white;
}


@media only screen and (max-width: 1024px) {

}
