body {
  margin: 0;
  padding: 0;
}

.home {
  width: 100vw;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  width: 100%;
}

nav ul {
  background-color: rgba(0, 0, 0, 0.7);
	list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: .7em;
  font-size: 30px;
	top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

video {
  padding: 0;
  margin: 0;
  width: 100vw;
}

.video {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.alma-mater {
  background-color: blue;
  position: absolute;
}

.overlay {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: center;
  margin: 0;
  width: 100vw;
  position: absolute;
  color: white;
}

.overlay p {
  padding-right: 50px;
}

audio {
  padding: 0 50px 50px 0;
}

@media only screen and (max-width: 480px)
